.cat1 {
    width: 200px;
    border-radius: 10px;
}
.cat2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.cat3 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    padding-bottom: 100px;
}



.search1 {
    
    height: 30px;
    width: 400px;
    border-style: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px grey, -2px -2px 10px grey;
}